<h1> Favorites </h1>
<br>

<div class="location-div">
  Shapiro Undergraduate Library  
  <h1 class="location-rating"> 3 </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Map</button>
      <button type="button" class="btn btn-default">Info</button>
      <button type="button" class="btn btn-default">Rate</button>
  </div>
</div>
<br>
<div class="location-div">
  Fishbowl  
  <h1 class="location-rating"> 7 </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Map</button>
      <button type="button" class="btn btn-default">Info</button>
      <button type="button" class="btn btn-default">Rate</button>
  </div>
</div>
<br>
<div class="location-div">
  Hatcher Graduate Library  
  <h1 class="location-rating"> 4 </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Map</button>
      <button type="button" class="btn btn-default">Info</button>
      <button type="button" class="btn btn-default">Rate</button>
  </div>
</div>
<br>
<div class="location-div">
  Ross School of Business 
  <h1 class="location-rating"> 7 </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Map</button>
      <button type="button" class="btn btn-default">Info</button>
      <button type="button" class="btn btn-default">Rate</button>
  </div>
</div>
<br>
