<h1> Favorites </h1>
<br>

<div class="favorite">
    <div class="circle">5</div>
    <h2 class="favorites-text">Shapiro Undergraduate Library</h1>
</div>
<br>
<div class="favorite">
    <div class="circle">5</div>
    <h1 class="favorites-text">Shapiro Undergraduate Library</h1>
</div>
<br>
<div class="favorite">
    <div class="circle">5</div>
    <h1 class="favorites-text">Shapiro Undergraduate Library</h1>
</div>
<br>
<div class="favorite">
    <div class="circle">5</div>
    <h1 class="favorites-text">Shapiro Undergraduate Library</h1>
</div>
<br>
