<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="">
      <button type="button" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Home
      </button>
      </a>
      <a href="">
      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>   Map
      </button>
      </a>
      <a href="">
      <button type="button" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Favorites
      </button>
      </a>
        <a href="">
      <button type="button" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Rate
        </button>
        </a>
    </div>
  </div>
</nav>