<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= button_to root_path, class: "btn btn-default navbar-btn", method: :get do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
      <% end %>
      <%= button_to places_path, class: "btn btn-default navbar-btn", method: :get do %>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Map
      <% end %>
      <%= button_to favorites_path, class: "btn btn-default navbar-btn", method: :get do %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorites
      <% end %>
      <%= button_to edit_place_path(1), class: "btn btn-default navbar-btn", method: :get do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rate
      <% end %>
    </div>
  </div>
</nav>