<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search Map</button>
      </span>
    </div>
    <br>
  </div>
</div>

<div id="map">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:solid"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBTti8ykzz1efZDHSICIfOsL75MSPRWD0Q
        &q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe>
</div>

<div class="location-div">
    Shapiro Undergraduate Library 
    <br>   
    <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Map</button>
        <button type="button" class="btn btn-default">Info</button>
        <button type="button" class="btn btn-default">Rate</button>
    </div>
</div>
