<div id="location-rate-div">
    <h3 id="location-rate"> Shapiro Undergraduate Library </h3>
</div>

<br>
<div class="graph">
    <div style="height: 22px;" class="bar"></div><!--
    --><div style="height: 11px;" class="bar"></div><!--
    --><div style="height: 6px;" class="bar"></div><!--
    --><div style="height: 49px;" class="bar"></div><!--
    --><div style="height: 28px;" class="bar"></div>
</div>
<br>

<div id="location-rate-div">
    <h3 id="location-rate"> Address </h3>
</div>
<br>

<div id="location-rate-div">
    <h3 id="location-rate"> Phone </h3>
</div>
<br>
